body{
    width: 212px;
    height: 142px;
}

img{
    margin-top: 5px;
}

h1{
    /* display: inline; */
    font-size: 21px;
    margin-bottom: 30px;
}

button{
    cursor: pointer;
    /* height: 28px; */
    padding: 8px;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 5px;
}