body{
    width: 180px;
    height: 120px;
}

h1{
    font-size: 21px;
    margin-bottom: 30px;
}

button{
    cursor: pointer;
    /* height: 28px; */
    padding: 8px;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 5px;
}